<h2>Thanks, you paid <strong>$<%= "%.2f" % @total_amount %></strong>!<br>
  Your order:<br>

  <% @items.each do |item| %>
      <%= item.quantity %> <%= item.item.name.humanize %> will be ready for pick-up
      at <%= item.item.ready_time.strftime('%H:%M') %><br>
  <% end %>
</h2>